/*fonts----------------*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
*{
    box-sizing: border-box;
}

.container{
    display:flex;
    justify-content: center;
    margin: 0 auto;
    width: 95vw;
}
li{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
}
